:root {
    --color1: #F5EFE7;
    --color2: #D8C4B6;
    --color3: #4F709C;
    --color4: #213555;
}

table, td {
    /*border: 1px solid black;*/
    border-collapse: collapse;
    padding: 5px 0 5px 0;
    /*text-align: center;*/
}

td {
    padding-right: 5px;
}

thead {
    background-color: beige;

}

.update {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
    flex-grow: 1;
    margin-bottom: 10px;
}

.update-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.update-head-1 {
    display: flex;
    flex-direction: row;
}

/*.update-head-1>h2 {*/
/*    margin-left: 10px;*/
/*}*/

.update-form {
    /*width: 400px;*/
    /*border: 1px solid black;*/
    /*background-color: beige;*/
    flex-grow: 1;
    padding-left: 10px;
    background-color: var(--color3);
}

.update-form>table {
    display: flex;
    /*justify-content: center;*/
    align-items: flex-start;
    width: 560px;
}

input {
    display: flex;
    height: 32px;
    width: 100%;

    font-size: 15px;
    border: 0;
    outline: none;
    padding-left: 10px;
    background-color: var(--color1);
    border-radius: 5px;
}

#input-content {
    height: 180px;
    vertical-align: top;
}

#update-department, #update-major {
    display: flex;
    height: 32px;
    width: 100%;
    font-size: 15px;
    border: 0;
}

#update-period-end, #update-period-start {
    width: 120px;
}

select {
    -webkit-appearance: none;  /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    border: 0 none;
    outline: 0 none;
    background-color: var(--color1);
    width: 150px;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 5px;
}