<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Project</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />

    <style>
#mg-id {
    display: 100px;
    flex-direction: column;
}
    </style>
</head>

<body>
<div class="wrap">
    <h1>전공책 게시판</h1>
    <a href="/posts">전체 게시글</a>

    <h2> 📚 Book Search Using KaKao API </h2>
    <hr>
    <button id="prev"><</button>
    <button id="next">></button>

    <div class="container" style="display: flex; flex-direction: column; width: 200px">
        <p></p>
        <div class="thumbnail"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script>
        var currentPage = 1;  // Start from page 1

        function loadBooks(page) {
            $.ajax({
                method: "GET",
                url: "https://dapi.kakao.com/v3/search/book?target=title",
                data: {
                    query: "이산수학",
                    page: page,  // Use the page variable here
                },
                headers: {
                    Authorization: "KakaoAK f361c14764dec8abd65706fb558dd90f"
                },
            })
                .done(function (msg) {
                    console.log(msg.documents);
                    $(".container").empty();  // Clear the old books
                    for(var i=0;i<10;i++) {
                        var newDiv = $("<div id='mg-id'>");  // Create a new div

                        // Create a new p and append the title
                        var newP = $("<p>").append(msg.documents[i].title);
                        newDiv.append(newP);

                        // Create a new thumbnail and append it
                        var newThumbnail = $('<img>', {
                            src: msg.documents[i].thumbnail,
                            class: "thumbnail"
                        });
                        newDiv.append(newThumbnail);
                        $(".container").append(newDiv);
                    }
                });
        }

        $(document).ready(function() {
            loadBooks(currentPage);  // Load the first page

            $("#next").click(function() {
                currentPage += 1;
                loadBooks(currentPage);  // Load the next page
            });

            $("#prev").click(function() {
                if (currentPage > 1) {
                    currentPage -= 1;
                    loadBooks(currentPage);  // Load the previous page
                }
            });
        });
    </script>
</div>
</body>
</html>
