<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Posts</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="stylesheet" th:href="@{/css/post.css}" />
</head>

<body>
    <header>
        <h1>전공책 리뷰 게시판</h1>
    </header>
    <div class="wrap-container">
        <div class="menu">
            <script th:src="@{/js/menu.js}"></script>
        </div>
        <div class="post">
            <div class="post-head">
                <h2>리뷰글 목차</h2>
                <a href="/create" class="createBtn">글쓰기</a>
            </div>
            <table>
                <thead>
                <tr>
                    <th>글번호</th>
                    <th>글제목</th>
                    <th>전공 카테고리</th>
                    <th>책제목</th>
                    <th>닉네임</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="post : ${listPosts}">
                        <td th:text="${post.id}"></td>
                        <td><a th:href="@{'/post/' + ${post.id}}"><span th:text="${post.title}"></span></a></td>
                        <td th:text="${post.department + '>' + post.major}"></td>
                        <td th:text="${post.btitle}"></td>
                        <td th:text="${post.nickname}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer>
        <div>
            <p>포털서비스개발방법론 수업에서 기말 과제로 제출하기 위해 제작된 페이지 입니다.</p>
        </div>
    </footer>
</body>

</html>
