<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Posts</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="stylesheet" th:href="@{/css/view.css}" />

</head>

<body>
<header>
    <h1>전공책 리뷰 게시판</h1>
</header>
<div class="wrap-container">
    <div class="menu">
        <script th:src="@{/js/menu.js}"></script>
    </div>
    <div class="view">
        <div class="create-head">
            <div class="create-head-1">
                <a href="/posts" class="backBtn">뒤로가기</a>
                <h2 th:text="${post.title}"></h2>
            </div>
            <div class="create-head-2" >

                <button class="updateBtn" th:attr="data-link=@{'/post/edit/' + ${post.id}}">수정</button>
<!--                <button class="deleteBtn" th:attr="data-link=@{'/post/delete/' + ${post.id}}">삭제</button>-->
                <a th:href="@{'/post/delete/' + ${post.id}}" class="deleteBtn">삭제</a>

            </div>

        </div>
        <div class="wrap-container">
            <div class="post-view">
                <div class="view-header">
                    <div id="book-img"></div>

                    <div class="view-header-group">
                        <div class="post-view-group">
                            <p id="department"><span th:text="${post.department}"></span> > <span th:text="${post.major}"></span></p>
                            <p id="period"><span th:text="${post.sPeriod}"></span>~<span th:text="${post.ePeriod}"></span></p>
                        </div>
                        <p id="btitle"><span th:text="${post.btitle}"></span></p>
                        <p id="nickname"><span th:text="${post.nickname}"></span></p>
                    </div>

                </div>

                <p id="content" th:text="${post.content}"></p>
            </div>
        </div>
    </div>


</div>

<script th:inline="javascript">
    var postPassword = /*[[${post.password}]]*/ 'default';

    document.querySelector('.updateBtn').addEventListener('click', function(event) {
        var inputPassword = prompt("비밀번호를 입력해주세요.");

        if(inputPassword === postPassword) {
            window.location.href = event.currentTarget.dataset.link;
        } else {
            alert('비밀번호가 일치하지 않습니다.');
        }
    });

    document.querySelector('.deleteBtn').addEventListener('click', function(event) {
        event.preventDefault();

        fetch(event.target.getAttribute('href'), {
            method: 'DELETE',
        })
            .then(res => {
                if(res.ok) {
                    window.location.href = '/posts';
                } else {
                    alert('Error occurred while deleting the post.');
            }
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script th:inline="javascript">
    function loadBooks(title) {
        $.ajax({
            method: "GET",
            url: "https://dapi.kakao.com/v3/search/book?target=title",
            data: {
                query: title,
            },
            headers: {
                Authorization: "KakaoAK f361c14764dec8abd65706fb558dd90f"
            },
        })
            .done(function (msg) {
                console.log(msg.documents[0].thumbnail);
                if (msg.documents.length > 0 && msg.documents[0].hasOwnProperty('thumbnail')) {
                    var thumbnailUrl = msg.documents[0].thumbnail;
                    $("#book-img").html('<img src="' + thumbnailUrl + '" alt="Book Thumbnail"/>');
                }
            });
    }
    $(document).ready(function() {
        var postTitle = /*[[${post.btitle}]]*/ 'default';

        loadBooks(postTitle);
    });

</script>
<footer>
    <div>
        <p>포털서비스개발방법론 수업에서 기말 과제로 제출하기 위해 제작된 페이지 입니다.</p>
    </div>
</footer>
</body>

</html>
